{% extends "headerandfooter.html" %}
{% block title %}OTS-Testpaper{% endblock %}
{% block content %}
    <form action="{% url 'home:calculateTest'%}" method="post">
        {% csrf_token %}
        <!-- {% for ques in questions %} -->
        <div style="border: 5px solid red; margin: 10px;">
            <div>
                <input type="hidden" name="q{{ques.qid}}" value="{{ques.qid}}">
                {{ques.que}}
            </div>
            <div><input type="radio" name="{{ques.qid}}" value="a">{{ques.a}}</div>
            <div><input type="radio" name="{{ques.qid}}" value="b">{{ques.b}}</div>
            <div><input type="radio" name="{{ques.qid}}" value="c">{{ques.c}}</div>
            <div><input type="radio" name="{{ques.qid}}" value="d">{{ques.d}}</div>
        </div>
        <!-- {% endfor %} -->
        <div><input type="submit" value="submit"></div>
    </form>
{% endblock %}